<div class="example-loading-shade" *ngIf="isLoadingResult">
  <mat-spinner></mat-spinner>
</div>
<div mat-dialog-content>
  <h1><b>{{this.isEdit ? "Update" : "Add"}} GM</b></h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="gmBaseDTO!.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Serial num.</mat-label>
    <input matInput [(ngModel)]="gmBaseDTO!.serial_num">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Old Sticker No.</mat-label>
    <input matInput [(ngModel)]="gmBaseDTO!.old_sticker_no">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Work type</mat-label>
    <mat-select [(value)]="gmBaseDTO!.work_type">
      <mat-option [value]="wt.value" *ngFor="let wt of workTypes | keyvalue">{{wt.value}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>{{this.isEdit ? "Update" : "Add"}}</button>
</div>
